/* Lauren Pyfer */

body{
    font-size: 1.4em;
    font-family: 'Poppins', serif;
    background-image: url("../images/concrete_seamless.png");
    background-color: #f1f1f1;
  }
  
  header{
    display: flex;
    justify-content: center;
    flex-direction: column;
    /*flex-wrap: wrap;*/
    align-items: center;
  }

  .nav_links{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  nav ul li a:visited{
    color:#0000EE;
  }

  a.skip:visited{
    color:#0000EE;
  }

  .pricing{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    /*flex-basis: 450px; */
  }

  .card { 
    display: flex; 
    flex-direction: column;
    flex-basis: 450px;
    border-radius: 50px 50px 0px 0px;
  }

  .card > header {
    background-color: #288088;
    border: 2px solid #45ADAD;
    padding: 20px 0px 20px 0px;
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
    /*to fix curve based on inspect*/
   /* width: 100%; */
    }

  .gallery img { 
    border: 10px solid #50C7C7;
    margin: 10px;
    width: 300px;
  }

  .gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  #logo{
    width: 475px;
    animation: my_move 5s;
  }
  
  @keyframes my_move{
    from {width: 25px;}
    to {width: 475px;}
    from {opacity: 0;}
    to {opacity: 1;}
  }

  @media screen and (min-width: 900px) {
    .nav_links { 
    flex-direction: row;
    justify-content: center;
    }
    .container{   
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
  }

    body > header {
        top: 0px; 
        position: sticky;
        }

    .pricing { 
        display: flex;
        flex-direction: row;
        flex-basis: 275px;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }


    .card {
        /*display: flex; */ 
        flex-basis: 250px;
        }
    

  @media (prefers-reduced-motion:reduce){
    #logo{
      animation: none;
    }
  }

  @media print {
    body{
      background-image: none;
      font-family: Arial, Helvetica, sans-serif; 
    }
    
    header { 
      flex-direction: column;
    }

    nav { 
      width: 100%;
    }

    .nav_links{
      display: flex; 
      flex-direction: row;
      justify-content: flex-end;
      /*align-items: flex-start; */
    }


    .pricing{
      display: flex; 
      flex-direction: row;
      align-items: flex-end;
      /*justify-content: space-between; */
      flex-wrap: nowrap;
    }

    .card{
      display: flex;  
      border: 2px solid #45ADDD;
      flex-basis: 325px;
      flex-wrap: nowrap;
    }

     .card ul li:nth-child(even)::after { 
      content: "\1F44D";
     }

     .card ul li:nth-child(odd)::before { 
      content: "\1F44D";
     }

    .gallery,
    #gallery{
      display: none;
   
  }
}